<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Employee Profile</title>
		
		<link rel="stylesheet" th:href="@{/css/Employee_Query_Style.css}" />
		<script th:src="@{/js/echarts.js}"></script>
		<script th:src="@{/js/Employee_Query_Script.js}"></script>
		<script th:src="@{/js/TableView_Operator_Script.js}"></script>
	</head>
	<body>
		<h1>Employee Profile</h1>

		<div id="data_input">
			<p id="prompt">Enter Employee ID or Name: </p>
			<input id="emp_query_input" type="text" placeholder="ID or Name">
			<button id="emp_query_button" type="submit" onclick="queryEmployee()">
				Query
			</button>
		</div>

		<div>
			<ol id="employee_info_links">
				<!-- <li><a></a></li> -->
			</ol>
			<strong id="query_count">
				<!-- Total 114514 query result. -->
			</strong>
		</div>

		<div id="employee_info">
			<!-- 基本信息区块 -->
			<div id="basic_info">
				<section>
					<h2>Basic Information</h2>
					<p> ID:        <span id="employee_id"></span></p>
					<p> Name:      <span id="employee_name"><span></p>
					<p>	Gender:    <span id="employee_gender"></span></p>
					<p>	Born Date: <time id="employee_born_date"></time></p>
					<p>	Hire Date: <time id="employee_hire_date"></time></p>
				</section>
			</div>

			<!-- 职业信息区块 -->
			<div id="major_info">
				<section>
					<h2>Career</h2>

					<article>
						<h3>Titles</h3>
						<ol id="titles_list"></ol>
					</article>

					<article>
						<h3>Department Timeline</h3>
						<table>
							<thead>
								<tr>
									<th>Department</th>
									<th>From Date</th>
									<th>To Date</th>
								</tr>
							</thead>
							<tbody id="department_timeline"></tbody>
						</table>
					</article>
				</section>
			</div>

			<!-- 薪资历史区块 -->
			<div id="salary_history">
				<section>
					<h2>Salary History</h2>
					<button type="button" id="btn_display_hidden"
					        onclick="displayOrHidden(this, 'salary_history_table')">
						Hidden Table
					</button>
					<table id="salary_history_table">
						<thead>
							<tr>
								<th>Duration</th>
								<th>Salary</th>
							</tr>
						</thead>
						<tbody id="salary_history_data">

						</tbody>
					</table>
					<div id="salary_charts"
					     style="width:100%; height:500px; margin: 0 auto;">
					</div>
				</section>
			</div>
		</div>
	</body>
</html>