<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Employee Pagination Query</title>

		<link rel="stylesheet" th:href="@{/css/Employee_Pagination_Query_Style.css}" />
	</head>

	<body>
		<h1>Employee Pagination Query</h1>

		<p th:text="${EmployeeAmount}" style="display:none" id="employee_amount"></p>
		<p th:text="${CurrentOffset}"  style="display:none" id="current_offset"></p>

		<div>
			<p style="font-size: 16px;">Profile of employee: </p>
			<ul id="employee_info_list">
				<!-- <li><a href=""></a></li> -->
			</ul>
		</div>

		<div>
			<button type="button" onclick="goToPreviousPage()">Previous Page</button>
			<button type="button" onclick="goToNextPage()">Next Page</button>
			<button type="button" onclick="goToFirstPage()">To First Page</button>
			<button type="button" onclick="goToLastPage()">To Last Page</button>

			<input id="page_to_go" type="text" placeholder="Which page to go?">
			<button type="button" onclick="jumpToSpecificPage()">GO</button>

			<p id="page_catalogue"></p>
		</div>

		<div>
			<p>
				<span>Toltal Amount </span>
				<strong th:text="${EmployeeAmount} + ' '"></strong>
				<span>employees.</span>
			</p>
		</div>
	</body>

	<script th:src="@{/js/Employee_Pagination_Query_Script.js}"></script>
</html>