<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Employee Profile</title>
		
		<link rel="stylesheet" th:href="@{/css/Specified_Employee_Query_Style.css}" />
	</head>

	<body>
		<h1>Employee Profile</h1>

		<button type="button" id="print_emp_info" onclick="doPrint('salary_charts')">
			Print
		</button>

		<div id="employee_info">
			<!-- 基本信息区块 -->
			<div id="basic_info">
				<section>
					<h2>Basic Information</h2>
					<p> ID:        <span th:text="${EmployeeInfo.employeeId}" id="employee_id"></span></p>
					<p> Name:      <span th:text="${EmployeeInfo.firstName} + '-' + ${EmployeeInfo.lastName}" id="employee_name"><span></p>
					<p>	Gender:    <span th:text="${EmployeeInfo.gender == 'M'} ? '♂️ Male' : '♀️ Female'" id="employee_gender"></span></p>
					<p>	Born Date: <time th:text="${EmployeeInfo.bornDate}" id="employee_born_date"></time></p>
					<p>	Hire Date: <time th:text="${EmployeeInfo.hireDate}" id="employee_hire_date"></time></p>
				</section>
			</div>

			<!-- 职业信息区块 -->
			<div id="major_info">
				<section>
					<h2>Career</h2>

					<article>
						<h3>Titles</h3>
						<ol id="titles_list" th:each="title : ${EmployeeInfo.titles}">
							<li th:text="${title}"></li>
						</ol>
					</article>

					<article>
						<h3>Department Timeline</h3>
						<table>
							<thead>
								<tr>
									<th>Department</th>
									<th>From Date</th>
									<th>To Date</th>
								</tr>
							</thead>
							<tbody id="department_timeline">
								<tr th:each="department, iter : ${EmployeeInfo.departments}">
									<td><span th:text="${department}"></span></td>
									<td><time th:text="${EmployeeInfo.fromDate[iter.index]}"></time></td>
									<td>
										<time th:if="${EmployeeInfo.toDate[iter.index].toString().equals('9999-01-01')}" 
										      style="color: green;">Present</time>

										<time th:unless="${EmployeeInfo.toDate[iter.index].toString().equals('9999-01-01')}"
											  th:text="${EmployeeInfo.toDate[iter.index]}"></time>
									</td>
								</tr>
							</tbody>
						</table>
					</article>
				</section>
			</div>

			<!-- 薪资历史区块 -->
			<div id="salary_history">
				<span id="salary_history_size" style="display: none;"
					  th:text="${#maps.size(EmployeeInfo.salaries)}"></span>
				<section>
					<h2>Salary History</h2>
					<table style="display: none;">
						<thead>
							<tr>
								<th>Duration</th>
								<th>Salary</th>
							</tr>
						</thead>
						<tbody id="salary_history_data">
							<tr th:each="entry, iter : ${EmployeeInfo.salaries}">
								<td>
									<time th:id="'salary_time_' + ${iter.index}" 
									      th:text="${entry.key}"></time>
								</td>
								<td>
									<strong th:text="'$' + ${entry.value}"
											th:id="'salary_val_' + ${iter.index}">
									</strong>
								</td>
							</tr>
						</tbody>
					</table>
					<div id="salary_charts" style="width: 100%; height:500px; margin: 0 auto;">

					</div>
				</section>
			</div>
		</div>
	</body>

	<script th:src="@{/js/echarts.js}"></script>
	<script th:src="@{/js/Specified_Employee_Query_Script.js}"></script>
	<script th:src="@{/js/Print_Employee.js}"></script>
</html>